<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>duck-easy0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,193},{233,171}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,171}}</string>
                <key>sourceSize</key>
                <string>{233,209}</string>
            </dict>
            <key>duck-easy0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,195},{233,165}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{233,165}}</string>
                <key>sourceSize</key>
                <string>{233,209}</string>
            </dict>
            <key>duck-easy0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,366},{233,159}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{233,159}}</string>
                <key>sourceSize</key>
                <string>{233,209}</string>
            </dict>
            <key>duck-easy0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,362},{233,159}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,19},{233,159}}</string>
                <key>sourceSize</key>
                <string>{233,209}</string>
            </dict>
            <key>duck-easy0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,682},{233,157}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,21},{233,157}}</string>
                <key>sourceSize</key>
                <string>{233,209}</string>
            </dict>
            <key>duck-easy0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,527},{233,157}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,17},{233,157}}</string>
                <key>sourceSize</key>
                <string>{233,209}</string>
            </dict>
            <key>duck-easy0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,2},{233,189}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{233,189}}</string>
                <key>sourceSize</key>
                <string>{233,209}</string>
            </dict>
            <key>duck-easy0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{233,191}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{233,191}}</string>
                <key>sourceSize</key>
                <string>{233,209}</string>
            </dict>
            <key>duck-easy0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,523},{233,157}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{233,157}}</string>
                <key>sourceSize</key>
                <string>{233,209}</string>
            </dict>
            <key>duck-easy0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,841},{233,155}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{233,155}}</string>
                <key>sourceSize</key>
                <string>{233,209}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>duck-easy.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:82d2abd4f07144a78bd5a1ba6ecc166e$</string>
            <key>textureFileName</key>
            <string>duck-easy.png</string>
        </dict>
    </dict>
</plist>
