<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>duck-dead10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,622},{252,228}}</string>
                <key>offset</key>
                <string>{7,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,115},{252,228}}</string>
                <key>sourceSize</key>
                <string>{550,500}</string>
            </dict>
            <key>duck-dead10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,622},{238,216}}</string>
                <key>offset</key>
                <string>{1,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,109},{238,216}}</string>
                <key>sourceSize</key>
                <string>{550,500}</string>
            </dict>
            <key>duck-dead10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,814},{228,212}}</string>
                <key>offset</key>
                <string>{2,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,103},{228,212}}</string>
                <key>sourceSize</key>
                <string>{550,500}</string>
            </dict>
            <key>duck-dead10004.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,814},{228,212}}</string>
                <key>offset</key>
                <string>{2,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,103},{228,212}}</string>
                <key>sourceSize</key>
                <string>{550,500}</string>
            </dict>
            <key>duck-dead10005.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,814},{228,212}}</string>
                <key>offset</key>
                <string>{2,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,103},{228,212}}</string>
                <key>sourceSize</key>
                <string>{550,500}</string>
            </dict>
            <key>duck-dead10006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,852},{228,212}}</string>
                <key>offset</key>
                <string>{2,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,103},{228,212}}</string>
                <key>sourceSize</key>
                <string>{550,500}</string>
            </dict>
            <key>duck-dead10007.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,814},{228,220}}</string>
                <key>offset</key>
                <string>{2,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,104},{228,220}}</string>
                <key>sourceSize</key>
                <string>{550,500}</string>
            </dict>
            <key>duck-dead10008.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,840},{228,216}}</string>
                <key>offset</key>
                <string>{2,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,108},{228,216}}</string>
                <key>sourceSize</key>
                <string>{550,500}</string>
            </dict>
            <key>duck-dead10009.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,586},{268,226}}</string>
                <key>offset</key>
                <string>{-1,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,115},{268,226}}</string>
                <key>sourceSize</key>
                <string>{550,500}</string>
            </dict>
            <key>duck-dead10010.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,354},{268,230}}</string>
                <key>offset</key>
                <string>{-1,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,121},{268,230}}</string>
                <key>sourceSize</key>
                <string>{550,500}</string>
            </dict>
            <key>duck-dead10011.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,354},{324,266}}</string>
                <key>offset</key>
                <string>{6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,120},{324,266}}</string>
                <key>sourceSize</key>
                <string>{550,500}</string>
            </dict>
            <key>duck-dead10012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,354},{324,266}}</string>
                <key>offset</key>
                <string>{6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,120},{324,266}}</string>
                <key>sourceSize</key>
                <string>{550,500}</string>
            </dict>
            <key>duck-dead10013.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,2},{428,350}}</string>
                <key>offset</key>
                <string>{0,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,120},{428,350}}</string>
                <key>sourceSize</key>
                <string>{550,500}</string>
            </dict>
            <key>duck-dead10014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{428,350}}</string>
                <key>offset</key>
                <string>{0,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,120},{428,350}}</string>
                <key>sourceSize</key>
                <string>{550,500}</string>
            </dict>
            <key>duck-dead10015.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,2},{148,238}}</string>
                <key>offset</key>
                <string>{8,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,120},{148,238}}</string>
                <key>sourceSize</key>
                <string>{550,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>duck-dead1.png</string>
            <key>size</key>
            <string>{1012,1066}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5cdae3a2b939bc5e8686de92ea09873c$</string>
            <key>textureFileName</key>
            <string>duck-dead1.png</string>
        </dict>
    </dict>
</plist>
