<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dog_multiplayer0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,332},{144,328}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,3},{144,328}}</string>
                <key>sourceSize</key>
                <string>{290,336}</string>
            </dict>
            <key>dog_multiplayer0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,2},{156,328}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,3},{156,328}}</string>
                <key>sourceSize</key>
                <string>{290,336}</string>
            </dict>
            <key>dog_multiplayer0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,332},{166,328}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,3},{166,328}}</string>
                <key>sourceSize</key>
                <string>{290,336}</string>
            </dict>
            <key>dog_multiplayer0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,2},{176,328}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,3},{176,328}}</string>
                <key>sourceSize</key>
                <string>{290,336}</string>
            </dict>
            <key>dog_multiplayer0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,2},{188,328}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,3},{188,328}}</string>
                <key>sourceSize</key>
                <string>{290,336}</string>
            </dict>
            <key>dog_multiplayer0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,332},{202,328}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,3},{202,328}}</string>
                <key>sourceSize</key>
                <string>{290,336}</string>
            </dict>
            <key>dog_multiplayer0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,662},{216,328}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,3},{216,328}}</string>
                <key>sourceSize</key>
                <string>{290,336}</string>
            </dict>
            <key>dog_multiplayer0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{290,328}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{290,328}}</string>
                <key>sourceSize</key>
                <string>{290,336}</string>
            </dict>
            <key>dog_multiplayer0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,332},{288,328}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{288,328}}</string>
                <key>sourceSize</key>
                <string>{290,336}</string>
            </dict>
            <key>dog_multiplayer0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,662},{284,328}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{284,328}}</string>
                <key>sourceSize</key>
                <string>{290,336}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dog_multiplayer.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bb983c98f72dbb551df7e6373dea3283$</string>
            <key>textureFileName</key>
            <string>dog_multiplayer.png</string>
        </dict>
    </dict>
</plist>
