<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dog_begin0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,404},{126,328}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,3},{126,328}}</string>
                <key>sourceSize</key>
                <string>{290,336}</string>
            </dict>
            <key>dog_begin0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,404},{126,328}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,3},{126,328}}</string>
                <key>sourceSize</key>
                <string>{290,336}</string>
            </dict>
            <key>dog_begin0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,862},{126,328}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,3},{126,328}}</string>
                <key>sourceSize</key>
                <string>{290,336}</string>
            </dict>
            <key>dog_begin0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,404},{130,328}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,3},{130,328}}</string>
                <key>sourceSize</key>
                <string>{290,336}</string>
            </dict>
            <key>dog_begin0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,404},{130,328}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,3},{130,328}}</string>
                <key>sourceSize</key>
                <string>{290,336}</string>
            </dict>
            <key>dog_begin0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,802},{130,328}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,3},{130,328}}</string>
                <key>sourceSize</key>
                <string>{290,336}</string>
            </dict>
            <key>dog_begin0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,734},{130,328}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,3},{130,328}}</string>
                <key>sourceSize</key>
                <string>{290,336}</string>
            </dict>
            <key>dog_begin0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,670},{130,328}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,3},{130,328}}</string>
                <key>sourceSize</key>
                <string>{290,336}</string>
            </dict>
            <key>dog_begin0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,538},{130,328}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,3},{130,328}}</string>
                <key>sourceSize</key>
                <string>{290,336}</string>
            </dict>
            <key>dog_begin0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,406},{130,328}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,3},{130,328}}</string>
                <key>sourceSize</key>
                <string>{290,336}</string>
            </dict>
            <key>dog_begin0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,734},{126,328}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,3},{126,328}}</string>
                <key>sourceSize</key>
                <string>{290,336}</string>
            </dict>
            <key>dog_begin0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,404},{132,328}}</string>
                <key>offset</key>
                <string>{-7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,3},{132,328}}</string>
                <key>sourceSize</key>
                <string>{290,336}</string>
            </dict>
            <key>dog_begin0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,270},{132,328}}</string>
                <key>offset</key>
                <string>{-7,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,3},{132,328}}</string>
                <key>sourceSize</key>
                <string>{290,336}</string>
            </dict>
            <key>dog_begin0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,272},{132,328}}</string>
                <key>offset</key>
                <string>{-7,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,3},{132,328}}</string>
                <key>sourceSize</key>
                <string>{290,336}</string>
            </dict>
            <key>dog_begin0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,270},{132,328}}</string>
                <key>offset</key>
                <string>{-7,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,3},{132,328}}</string>
                <key>sourceSize</key>
                <string>{290,336}</string>
            </dict>
            <key>dog_begin0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,136},{132,328}}</string>
                <key>offset</key>
                <string>{-7,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,3},{132,328}}</string>
                <key>sourceSize</key>
                <string>{290,336}</string>
            </dict>
            <key>dog_begin0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{132,328}}</string>
                <key>offset</key>
                <string>{-7,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,3},{132,328}}</string>
                <key>sourceSize</key>
                <string>{290,336}</string>
            </dict>
            <key>dog_begin0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,136},{132,328}}</string>
                <key>offset</key>
                <string>{-7,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,3},{132,328}}</string>
                <key>sourceSize</key>
                <string>{290,336}</string>
            </dict>
            <key>dog_begin0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,2},{132,328}}</string>
                <key>offset</key>
                <string>{-7,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,3},{132,328}}</string>
                <key>sourceSize</key>
                <string>{290,336}</string>
            </dict>
            <key>dog_begin0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,2},{132,328}}</string>
                <key>offset</key>
                <string>{-7,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,3},{132,328}}</string>
                <key>sourceSize</key>
                <string>{290,336}</string>
            </dict>
            <key>dog_begin0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,866},{126,328}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,3},{126,328}}</string>
                <key>sourceSize</key>
                <string>{290,336}</string>
            </dict>
            <key>dog_begin0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{134,328}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,3},{134,328}}</string>
                <key>sourceSize</key>
                <string>{290,336}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dog_begin.png</string>
            <key>size</key>
            <string>{992,994}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:79594b87568a1198c5cd2d668ea149e0$</string>
            <key>textureFileName</key>
            <string>dog_begin.png</string>
        </dict>
    </dict>
</plist>
